<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JTL_Translator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <JTL_Translator.My.MySettings>
            <setting name="db_server" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_username" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_passwort" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="db_datenbankname" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="trans_MitDeutsch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mandant_letzter_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="mandant_position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="anmeldung_firma" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_vorname" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_nachname" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_telefon" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_handy" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_email" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_strasse" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_stadt" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_postleitzahl" serializeAs="String">
                <value/>
            </setting>
            <setting name="anmeldung_land" serializeAs="String">
                <value/>
            </setting>
            <setting name="bIsLoading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpracheSelected" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Webproxy" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="cat_description_text" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkUseTorPrivoy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_funktionsattribute_only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_funktionsattribute_alleSprachen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_normal_alleSprachen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_normal_benutzeDatum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chkTranslate_normal_mod_erstellt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_normale_merkmale_aktiv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkTranslate_normal_funktionsattribute_aktiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOPSTE_API_URL" serializeAs="String">
                <value>https://shopste.com/api.php</value>
            </setting>
            <setting name="SHOPSTE_USERNAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="SHOPSTE_PASSWORD" serializeAs="String">
                <value/>
            </setting>
            <setting name="SHOPSTE_domain_id" serializeAs="String">
                <value/>
            </setting>
            <setting name="SHOPSTE_domainname" serializeAs="String">
                <value/>
            </setting>
            <setting name="SHOPSTE_main_category" serializeAs="String">
                <value/>
            </setting>
            <setting name="bSQLUpdate_immer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="first_start" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JTLSHOP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="JTLSHOP_HTTP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string/>
                        <string/>
                        <string/>
                    </ArrayOfString>
                </value>
            </setting>
        </JTL_Translator.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
